.MuiBottomNavigationAction-root.Mui-selected{
  border-bottom: 2px solid #3949ab;
}

.MuiBottomNavigationAction-label.Mui-selected{
  font-size: 0.8rem !important;
}

/* .MuiPaper-root .MuiAppBar-root .MuiAppBar-positionFixed .MuiAppBar-colorPrimary .mui-fixed{
  transition: cubic-bezier(0, 0, 0.2, 1)  ;
} */
