/* Add a border-bottom when the item is selected */
.MuiBottomNavigationAction-root.Mui-selected {
  border-bottom: 2px solid #3949ab;
}

/* Customize the font size for selected items */
.Mui-selected {
  font-size: 0.8rem !important;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 361px) and (min-width: 360px) {
  .Mui-selected {
    font-size: 0.77rem !important;
  }
}

@media screen and (max-width: 321px) and (min-width: 320px) {
  .Mui-selected {
    font-size: 0.67rem !important;
  }
  .MuiBottomNavigationAction-label {
    font-size: 0.66rem !important;
  }
}

@media screen and (max-width: 281px) and (min-width: 280px) {
  .Mui-selected {
    font-size: 0.6rem !important;
  }
  .MuiBottomNavigationAction-label {
    font-size: 0.6rem !important;
  }
}
