.MuiContainer-root.removed-item{
  animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes removed-item-animation {
  from {
      opacity: 1;
      transform: scale(1);
  }

  to {
      opacity: 0;
      height: 0px;
      transform: scale(0);
  }
}